#map {
	height: 400px;
	width: 100%;
	border: 2px solid #333;
	background-color : #C2DFFF!important;
}

@media (min-width: 992px) {
	#map {
		height: 600px;
		width: 100%;
	}
}

.bar-chart {
	height: 700px;
	width: 100%;
}