body {
	font-family: 'Lora', serif;
	background-color: #eee;
}

h1 {
	font-weight: 700;
}

b {
	color: #b20e10;
}
.container {
	background-color:#fcfcfc;
	padding-left:20px;
	padding-right:20px;
}
.header {
text-align:center;
}

.header .description {
	padding-top: 20px;
}

.main {
	padding : 0 0 10px 0;
	
}

.secondary {
	padding : 20px 0;
}